<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      News & Events
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content  class="background-primary" [fullscreen]="true">
 
  <div class="event-card">
    <p>
      TOMORROW 3<sup>RD</sup> March 2020 (TUESDAY) WILL BE A HALF WORKING DAY FOR STUDENTS FROM JR.K.G TO GRADE XI
      <br><span>(9.00 A.M TO 12 NOON)</span>
    </p>
    <!-- <img src="../../../assets/11-119684_calendar-empty-ultrathin-page-comments-calendar-icon-line-png.png"> -->
    <span class="cal"><span class="day">12</span> <br><span class="year">Mar 2020</span> </span>
    <span>NOTICE</span>
    <ion-icon name="images"></ion-icon><span class="imgCount">11</span>
  </div>
  <div class="event-card">
    <p>
      GOOD FRIDAY
      <br><span>(9.00 A.M TO 12 NOON)</span>
    </p>
    <!-- <img src="../../../assets/11-119684_calendar-empty-ultrathin-page-comments-calendar-icon-line-png.png"> -->
    <span class="cal"><span class="day">30</span> <br><span class="year">Mar 2020</span> </span>
    <span>EVENTS</span>
    <ion-icon name="images"></ion-icon><span class="imgCount">10</span>
  </div>
  <div class="event-card">
    <p>
      TAMIL NEW YEAR
      <br><span>(9.00 A.M TO 12 NOON)</span>
    </p>
    <!-- <img src="../../../assets/11-119684_calendar-empty-ultrathin-page-comments-calendar-icon-line-png.png"> -->
    <span class="cal"><span class="day">14</span> <br><span class="year">Apr 2020</span> </span>
    <span>EVENTS</span>
    <ion-icon name="images">1</ion-icon><span class="imgCount">1</span>
  </div>

  
</ion-content>



