<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Timetable
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  class="background-primary" [fullscreen]="true">
  <ion-grid class="timetable-bg" size="11"> 
    <ion-row class="headerCol">
      <ion-col size="2">
        <div>
         Periods
        </div>
      </ion-col>
      <ion-col >
        <div>
         Mon
        </div>
      </ion-col>
      <ion-col>
        <div>
         Tue
        </div>
      </ion-col>
      <ion-col>
        <div>
          Wed
        </div>
      </ion-col>
      <ion-col >
        <div>
          Thu
        </div>
      </ion-col>
      <ion-col>
        <div>
          Fri
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <div>
        1
        </div>
      </ion-col>
      <ion-col>
        <div>
         Eng
        </div>
      </ion-col>
      <ion-col>
        <div>
         Tam
        </div>
      </ion-col>
      <ion-col>
        <div>
         Sci
        </div>
      </ion-col>
      <ion-col>
        <div>
          Social
        </div>
      </ion-col>
      <ion-col>
        <div>
         Bot
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <div>
         2
        </div>
      </ion-col>
      <ion-col>
        <div>
         Eng
        </div>
      </ion-col>
      <ion-col>
        <div>
         Tam
        </div>
      </ion-col>
      <ion-col>
        <div>
         Sci
        </div>
      </ion-col>
      <ion-col>
        <div>
          Social
        </div>
      </ion-col>
      <ion-col>
        <div>
         Bot
        </div>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col size="2" >

      </ion-col>
      <ion-col size="10" style="background: rgb(198,9,41);
      background: linear-gradient(90deg, rgba(198,9,41,1) 63%, rgba(255,253,253,0) 100%);">
        Break
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <div>
        3
        </div>
      </ion-col>
      <ion-col>
        <div>
         Eng
        </div>
      </ion-col>
      <ion-col>
        <div>
         Tam
        </div>
      </ion-col>
      <ion-col>
        <div>
         Sci
        </div>
      </ion-col>
      <ion-col>
        <div>
          Social
        </div>
      </ion-col>
      <ion-col>
        <div>
         Bot
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <div>
         4
        </div>
      </ion-col>
      <ion-col>
        <div>
         Eng
        </div>
      </ion-col>
      <ion-col>
        <div>
         Tam
        </div>
      </ion-col>
      <ion-col>
        <div>
         Sci
        </div>
      </ion-col>
      <ion-col>
        <div>
          Social
        </div>
      </ion-col>
      <ion-col>
        <div>
         Bot
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">

      </ion-col>
      <ion-col size="10">
        Lunch
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <div>
        5
        </div>
      </ion-col>
      <ion-col>
        <div>
         Eng
        </div>
      </ion-col>
      <ion-col>
        <div>
         Tam
        </div>
      </ion-col>
      <ion-col>
        <div>
         Sci
        </div>
      </ion-col>
      <ion-col>
        <div>
          Social
        </div>
      </ion-col>
      <ion-col>
        <div>
         Bot
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <div>
         6
        </div>
      </ion-col>
      <ion-col>
        <div>
         Eng
        </div>
      </ion-col>
      <ion-col>
        <div>
         Tam
        </div>
      </ion-col>
      <ion-col>
        <div>
         Sci
        </div>
      </ion-col>
      <ion-col>
        <div>
          Social
        </div>
      </ion-col>
      <ion-col>
        <div>
         Bot
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">

      </ion-col>
      <ion-col size="10">
        Break
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <div>
        7
        </div>
      </ion-col>
      <ion-col>
        <div>
         Eng
        </div>
      </ion-col>
      <ion-col>
        <div>
         Tam
        </div>
      </ion-col>
      <ion-col>
        <div>
         Sci
        </div>
      </ion-col>
      <ion-col>
        <div>
          Social
        </div>
      </ion-col>
      <ion-col>
        <div>
         Bot
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <div>
         8
        </div>
      </ion-col>
      <ion-col>
        <div>
         Eng
        </div>
      </ion-col>
      <ion-col>
        <div>
         Tam
        </div>
      </ion-col>
      <ion-col>
        <div>
         Sci
        </div>
      </ion-col>
      <ion-col>
        <div>
          Social
        </div>
      </ion-col>
      <ion-col>
        <div>
         Bot
        </div>
      </ion-col>
    </ion-row>
   
  </ion-grid>
</ion-content>
